body {background-color: rgb(219, 225, 226);}
ul {
    list-style: none;

}
/* styles for Li */
li {
    border-bottom: 1px solid lightgray;
    text-align: left;
    padding-left: 10px;
    border-spacing: 3px;
}
/* styles for card titles  */
.card-title {
    font-size: 20px;
}

img {
    width: 100px;
    height: 100px;
}
 /* 5 day forecast */ 
.fiveDayColor {
    padding: 20px;
    background-color: #9b9fa3;
    color: white;
    float: left;
    margin: 10px;
    border: 1px solid lightgray;
}

  
  /* On screens that are 992px wide or less, go from four columns to two columns
  @media screen and (max-width: 992px) {
    .container {
      width: 50%;
    }
}
  
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  /* @media screen and (max-width: 600px) {
    .container{
      width: 100%;
    }
} */ 